# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin
android-sdk/
.gradle/
build/
app/build/
android-sdk/
local.properties
.DS_Store
